<ion-view title="User Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{viewUser.image}}">
        <h2>{{viewUser.name}}</h2>
        <p>more info?</p>
      </div>

      <div class="item item-body">
        <p>
          User Description: {{viewUser.description}}
        </p>
        <p>
          <a href="#" class="subdued">8/10 Rating</a>
          <button class="button  button-block" ng-click = "rateUser(viewUser)"> Rate User</button>
        </p>
      </div>
    </div>
    </ion-content>
</ion-view>
