<ion-view title="Account">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{user.image}}">
        <h2>{{user.name}}</h2>
        <p>more info?</p>
      </div>

      <div class="item item-body">
        <p>
          User Description: {{user.description}}
        </p>
        <button class="button  button-block ">Edit Description </button> 
        <p>
          <span class="subdued" ng-show="user.reviews.length > 1"> <b>Rating:</b> {{user.rating/user.reviews.length}}/5, </span>
        </p>
      </div>
    </div>
    <div class = "list card">
      <div class = "item">
        <h2> Reviews: </h2>
      </div>
      <div class = "item item-body" ng-repeat="review in user.reviews">
        <b> {{review.userName}} </b> : {{review.message}}
      </div>
    </div>
    </ion-content>
</ion-view>
