<ion-view title="Chat">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>John</h2>
                <p>blah blah blah</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Max</h2>
                <p>blah blah</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>