<!-- <ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

      <button class="button button-block button-calm" ng-click="login()">Login with Facebook</button>
  </ion-content>
</ion-view>
 -->

<ion-view view-title="Login" name="login-view">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h1>HitchHiking</h1>
            <div>
                <p>Welcome to my
                    <strong>HitchHiking App</strong>
                </p>
            </div>
            <div class="spacer" style="width: 283px; height: 53px;"></div>
            <ion-list>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Passsword" ng-model="data.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block " ng-click="login(data)">Log in</button>
            <button class="button button-positive button-block button-small" ng-click="fbLogin()">Login with Facebook</button>
            <button class="button button-positive button-clear button-block " ng-click="register()">Or create an account</button>
        </form>
    </ion-content>
</ion-view>