<!-- <ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

      <button class="button button-block button-calm" ng-click="login()">Login with Facebook</button>
  </ion-content>
</ion-view>
 -->

<ion-view view-title="Login" name="login-view">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h1>Ridesharing App</h1>
            <div>
                <p>Welcome to my
                    <strong>Ridesharing App</strong>
                </p>
            </div>
            <div class="spacer" style="width: 283px; height: 53px;"></div>

            <div class="spacer" style="height: 40px;"></div>
            <button style="padding=10px" class="button button-positive button-block button-small" ng-click="fbLogin()">Login with Facebook</button>
        </form>
    </ion-content>
</ion-view>
