<ion-view title="RideView">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-back-button>
 </ion-nav-back-button>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list card">

        <div class="item item-avatar">
          <img src="{{ride.driver.image}}">
          <h2> <b>{{ride.origin.name}}</b> to <b>{{ride.destination.name}}</b></h2>
        </div>

        <div class="item item-body">
          <p>On:  {{ride.date}}</p>
          <p>Description: {{ride.description}}</p>

            <p> Passengers: </p>
            <p ng-repeat="passenger in ride.passengers" ng-click="viewProfile(passenger.id)">
              <img src="{{passenger.image}}">
              <p> {{passenger.name}} </p>
            </p>
        </div>

      </div>
      <div>
        <h2> Chat: </h2>
        <ion-list>
            <ion-item ng-repeat="message in ride.messages"> <b> {{message.name}} : </b> {{message.content}}</ion-item>
        </ion-list>
        <input> </input> <button> Submit </button>  
      </div>
    </ion-content>
</ion-view>
