<ion-view view-title="Register" name="register-view">


    <ion-header-bar>
        <h1 class="title">Register</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset" ng-controller="RegisterCtrl">
            <!-- keep it simple for now
        <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="data.first">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="data.last">
          </label>
          <label class="item item-input">
            <input type="tel" placeholder="Phone Number" ng-model="data.number">
          </label>
          -->
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="data.passwordConfirm">
            </label>
            <button class="button" ng-click="register(data)"> Submit </button>
        </div>
    </ion-content>
</ion-view>
