<ion-view title="Search">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <form class="list">
            <label class="item item-input">
                <span class="input-label">From:</span>
                <input type="text" g-places-autocomplete force-selection="true" options="{
                        types: ['(cities)']
                    }" placeholder="" ng-model="data.origin">
            </label>
            <label class="item item-input">
                <span class="input-label">To:</span>
                <input type="text" g-places-autocomplete force-selection="true" options="{
                        types: ['(cities)']
                    }" placeholder="" ng-model = "data.destination">
            </label>
            <label class="item item-input">
                <span class="input-label">Date:</span>
                <input type="date" placeholder="" ng-model = "data.date">
            </label>


		<ion-checkbox ng-model="data.type" value="advanced">Advanced Query </ion-checkbox>

            <div class="button-bar"></div>
            <button class="button  button-block " ng-click = "search(data)">Search</button>
        </form>
        <div class="bar bar-footer bar-assertive" ng-show="error">
          <div class="title" >{{errorMessage}}</div>
        </div>

        <ion-list>
          <ion-item ng-repeat="ride in rides" ui-sref='menu.rideView({rideid: ride._id})'>
            From {{ride.origin.name}} to {{ride.destination.name}} on {{ride.date }}, Driver: {{ride.driverName}}
          </ion-item>
          <ion-item ng-show="noRides" >
            Sorry, there are no rides for this search...
          </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
