<ion-view title="Search">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <form class="list">
            <label class="item item-input">
                <span class="input-label">From:</span>
                <input type="text" g-places-autocomplete force-selection="true" options="{
                        types: ['(cities)']
                    }" placeholder="" ng-model="data.from">
            </label>
            <label class="item item-input">
                <span class="input-label">To:</span>
                <input type="text" g-places-autocomplete force-selection="true" options="{
                        types: ['(cities)']
                    }" placeholder="" ng-model = "data.to">
            </label>
            <label class="item item-input">
                <span class="input-label">Date:</span>
                <input type="date" placeholder="" ng-model = "data.date">
            </label>
            <div class="button-bar"></div>
            <button class="button  button-block " ng-click = "search(data)">Search</button>
        </form>
        <div class="bar bar-footer bar-assertive" ng-show="error">
          <div class="title" >{{errorMessage}}</div>
        </div>

        <ion-list>
          <ion-item ng-repeat="ride in rides">
            From {{ride.from}} to {{ride.to}} on {{ride.date}}, Driver: {{ride.driverid}}
          </ion-item>
          <ion-item ng-show="noRides" >
            Sorry, there are no rides for this search...
          </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
