<ion-view view-title="Rides">
  <ion-content>
    <ion-side-menus> 
    <ion-side-menu-content>
    <ion-content>
    <div  ng-hide="searched">
        <label class="item-input">
            <input type="text" placeholder="From" ng-model="q.from">
        </label>
        
        <label class="item-input">
            <input type="text" placeholder="Destination" ng-model="q.to"> 
         </label>
         
        <label class=" item-input">
            <div class ="input-label"> Date </div>
            <input type="date" ng-model="q.date">
        </label>
        <button class="button button-stable button-block " ng-click="search(q)"> Search </button>
      </div>
    <div ng-hide ="!searched"> 
        <button class="button button-block" ng-click="returnToSearch()"> Return To Search </button>
    </div>
    <ion-list animate-show ng-hide="!searched">
      <ion-item class=" item-remove-animate item-avatar item-icon-right" ng-repeat="ride in filteredRides | 
            filter:q" type="item-text-wrap" href="#/tab/rides/{{ride.id}}">
        <h2>From: {{ride.from}}</h2>
        <h2>To: {{ride.to}}</h2>
        <h2> Date: {{ride.date}}</h2>
      </ion-item>
    </ion-list>
    </ion-content>
    </ion-side-menu-content>
    <ion-side-menu side="right">
    <div class ="card">
        <div class="item item-divider"> Create a ride </div>
        
        <label class="item item-input item-stacked-label">
            <span class="input-label"> From </span>
            <input type="text" placeholder="ex: montreal" ng-model="from">
        </label>
        
        <label class="item item-input item-stacked-label">
            <span class="input-label"> To </span>
            <input type="text" placeholder="ex: toronto" ng-model="to">
        </label>
        
        <label class="item item-input item-stacked-label">
            <span class="input-label"> Date </span>
            <input type="date" ng-model="date">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label"> Time </span>
            <input type="time" ng-model="time">
        </label>
        <label class="item item-input item-stacked-label"> 
            <span class="input-label"> Pickup Location </span> 
            <input type="text" ng-model="pickup">
        </label>
        <button class="button" ng-click="addRide(to, from, 'me', date, time, pickup)"> Submit </button>
    </div>
    </ion-side-menu>
    </ion-side-menus>
  </ion-content>
</ion-view>
