<ion-view view-title="My Rides">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Welcome!</div>
      <div class="item item-body">
        <div>
          Welcome <b>{{user.name}}</b>
        </div>
      </div>
    </div>
    <div class="list card">
        <div class="item item-divider"> Upcoming Rides </div> 
        <div class="item item-body">
            You have no upcoming rides...
        </div>
    
    </div

  </ion-content>
</ion-view>
